.about-section {
  max-width: 750px; /* Limit the width for readability */
  margin: 0 auto; /* Center the section on the page */
  padding: 5rem 0rem;
}

.about-section p {
  line-height: 1.5; /* Improve line spacing for better readability */
  margin-bottom: 0.5rem; /* Add space between paragraphs */
  font-size: 20px;
}

.about-section span {
  font-weight: bold; /* Make the span bold for better readability */
  font-size: 25px;
}

