.components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 15rem;
}

.slide-in {
  opacity: 0;
  transform: translateY(-20px); /* Adjust this value for the slide-in distance */
  animation: slideIn 1s ease-out forwards; 
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

